html {
  background: url(http://i.imgur.com/yVGW4mc.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}
.menu {
  background-color: rgba(0,0,0,0.7);
  font-size: 14px;
  height: 20px;
  margin: auto;
  margin-left: -8px;
  padding-left: 10px;
  padding-top: 5px;
  position: absolute;
  width: 100%;
  top: 0;
}
.menu-i {
  display: inline;
  margin-left: 10px;
}
.menu-i a {
  color: #FFF;
  text-decoration: none;
}
.menu-i a:hover {
  color: #EEE;
  text-decoration: underline;
}
.floating {
  color: rgba(0,0,0,0.7);
  font-family: Helvetica;
  font-size: 90px;
  font-weight: bold;
  letter-spacing: -5px;
  position: absolute;
  margin-left: 330px;
  margin-top: -81px;
}
.main {
  background-color: rgba(0,0,0,0.7);
  margin: 220px auto;
  padding: 10px;
  width: 700px;
}
.main * {
  text-align: center;
}
.topic {
  font-family: Helvetica;
  font-size: 26px;
  font-weight: bold;
}
.subtext {
  margin-top: 10px;
}
#dropdown,
#dropdown * {
  text-align: left;
}
.subtext,
.body,
.changer-text,
.menu {
  font-family: Helvetica;
}
.topic,
.subtext,
.body,
.changer-text {
  color: #FFF;
}
.changer {
  margin-top: 20px;
}
.changer-text {
  margin-bottom: 5px;
}
.changer img {
  margin-right: 5px;
}
