/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.floating {
  color: #DDD;
  font-family: Helvetica;
  font-size: 90px;
  font-weight: bold;
  letter-spacing: -5px;
  position: absolute;
  margin-left: 330px;
  margin-top: -81px;
}
.main {
  background-color: #EEE;
  border-left: 20px solid #DDD;
  margin: 220px auto;
  padding: 10px;
  width: 700px;
}
.main * {
  text-align: center;
}
.topic {
  font-family: Helvetica;
  font-size: 26px;
  font-weight: bold;
}
.subtext {
  margin-top: 10px;
}
#dropdown,
#dropdown * {
  text-align: left;
}
.subtext,
.body,
.changer-text {
  font-family: Helvetica;
}
.topic,
.subtext,
.body,
.changer-text {
  color: #666;
}
.changer {
  margin-top: 20px;
}
.changer-text {
  margin-bottom: 5px;
}
.changer img {
  margin-right: 5px;
}
